/*all structure tags for main page*/
*{margin: 0px;padding: 0px;}
body{
	margin: 0px;
	padding: 0px;
	background: black;
	color: white;
}
header{
	width: 100%;
	height: 15vh;
	position: absolute;
	top: 0px;
	z-index: 5;
	text-align: center;
	background: rgb(30, 30, 30);
	font-size: 80px;
	font-family: arial;
	font-weight: bold;
	color: rgb(233, 233, 233)
}
footer{
	width: 100%;
	background: rgb(26, 26, 128);
	text-align: center;
	padding: 10px 0px;
	clear: both;
	position: relative;
	z-index: 3;
}
p{
	padding: 20px 30px;
	margin: 0px;
	line-height: 25px
}
nav{
	width: 10%;
	height:100vh;
	background:rgb(0,150,255);
	position: fixed;
	top: 0px;
}
nav ul{
	padding: 0px;
	border-top: 15vh solid rgb(26, 26, 128);
}
nav ul li{
	list-style: none;
	font-family: verdana;
	font-size: 22px;
	padding:10px 5px;
}
nav ul a{
	color: white;
	text-decoration: none;
}
nav ul li:hover{
	background: rgb(25,25,255);
	font-weight: bold;
	border-right: 20px solid black;
}
#container{
	width: 80%;
	background: rgb(48, 48, 48);
	float: left;
	margin-top: 15vh;
	margin-left: 10%;
	color: rgb(234, 193, 255);
	font-family: arial;
	font-size: 16px;
	padding-top: 30px;
}
#rightbar{
	width: 10%;
	height: 100vh;
	background: rgb(200, 200, 255);
	position: fixed;
	top: 0px;
	right: 0%;
	border-top: 15vh solid rgb(26, 26, 128);\
}
div ul{
	padding-left: 0px;
	text-align: center;
}
div ul a li{
	list-style: none;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 9px;
}
div ul a li img{
	border: solid 2px rgb(50,50,50);
	width: 55px;
}
div ul li:hover{
	background: rgb(119,119,119);
}

/*end of structure tags for main page*/

h1,h3{
	text-align: center;
	padding: 20px 0px;
	background: rgb(76, 31, 76);
}

hr{
	margin: 50px 0px;
	clear: both;
}

.twin_column{
	width: 45%;
	position: relative;
	background: rgba(51, 102, 255, .2);
	float: left;
	display: inline-block;
	margin: 0 2.5%;
	margin-bottom: 30px;
}

.thrice_column{
	width: 30%;
	position: relative;
	background: rgba(51, 102, 255, .2);
	float: left;
	display: inline-block;
	margin: 0 1.6666%;
	margin-bottom: 30px;
}