/*all structure tags for main page*/
*{margin: 0px;padding: 0px;}

body{
	margin: 0px;
	padding: 0px;
	background: black;
	color: white;
}

header{
	width: 100%;
	height: 15vh;
	position: absolute;
	top: 0px;
	z-index: 5;
	text-align: center;
	background: rgb(30, 30, 30);
	font-size: 80px;
	font-family: arial;
	font-weight: bold;
	color: rgb(233, 233, 233)
	}

footer{
	width: 100%;
	background: rgb(26, 26, 128);
	text-align: center;
	padding: 10px 0px;
	clear: both;
}

p{
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 30px;
	margin: 0px;
	line-height: 25px
}

nav{
	width: 10%;
	height:100vh;
	background:rgb(0,150,255);
	position: fixed;
	top: 0px;
}

nav ul{
	margin-top: 15vh;
	padding: 0px;
}

nav ul li{
	list-style: none;
	font-family: verdana;
	font-size: 22px;
	padding:10px 5px;
}

nav ul a{
	color: white;
	text-decoration: none;
}

nav ul li:hover{
	background: rgb(25,25,255);
	font-weight: bold;
	border-right: 20px solid black;
}

#container{
	width: 80%;
	background: rgb(48, 48, 48);
	float: left;
	margin-top: 15vh;
	margin-left: 10%;
	color: rgb(234, 193, 255);
	font-family: arial;
	font-size: 16px;
	padding-top: 30px;
}

#rightbar{
	width: 10%;
	height: 100vh;
	background: rgb(238, 238, 238);
	position: fixed;
	top: 0px;
	right: 0%;
	padding-top: 15vh;
}

/*.icon{
	margin: 10px auto;
	display: block;*/
}

div ul{
	padding-left: 0px;
	text-align: center;
}

div ul a li{
	list-style: none;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 6px;
}

div ul li:hover{
	background: rgb(119, 119, 119);
}

/*end of structure tags for main page*/

